//COLORES MARCA
$color-1: #F9CDD4; //peach
$color-2: #F4AAB6; //ligth peach
$color-3: #E67D8D; //dark red
$color-4: #9f6098; //botones de acción
$color-5: #FAFAFA; //blanco
$color-6: #D8D8D8; //gris
$color-7: #1B0907; //negro


//BORDER RADIOUS
$br-1: 30px;

//DROP SHADOW

//RESPONSIVE (puntos de quiebre)
$sm: "(max-with: 768px)"; //Celular tamaño pequeño
$md: "(max-with: 922px)"; //Tablet 
$lg: "(min-with: 1200px)"; //Escritorio

// font-family: 'Amatic SC', cursive;
// font-family: 'Roboto', sans-serif;